<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>PT. California</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link rel="shortcut icon" href="~/Assets/icons/logo.ico" />
    @Styles.Render("~/Assets/styles")
    <!-- endbuild -->
</head>

<body class="page-loading">

    <!-- page loading spinner -->
    <div class="pageload">
        <div class="pageload-inner">
            <div class="sk-rotating-plane"></div>
        </div>
    </div>
    <!-- /page loading spinner -->
    <!-- main app -->
    @RenderBody()
    <!-- end app -->
    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    @Scripts.Render("~/Assets/scripts")
    @RenderSection("scripts", required: false)
    <!-- endbuild -->
</body>

</html>