<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>PT. California</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link rel="shortcut icon" href="~/Assets/icons/logo.ico" />
    <!-- page stylesheets -->
    <link rel="stylesheet" href="~/Assets/vendor/datatables/media/css/jquery.dataTables.css">
    <!-- end page stylesheets -->
    @Styles.Render("~/Assets/styles")
    <!-- endbuild -->
</head>

<body class="page-loading">

    <!-- page loading spinner -->
    <div class="pageload">
        <div class="pageload-inner">
            <div class="sk-rotating-plane"></div>
        </div>
    </div>
    <!-- /page loading spinner -->
    <!-- main app -->
    @RenderBody()
    <!-- end app -->
    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    @Scripts.Render("~/Assets/scripts")
    <!-- page scripts -->
    <script src="~/Assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="~/Assets/scripts/helpers/bootstrap-datatables.js"></script>
    <script src="~/Assets/scripts/tables/table-edit.js"></script>
    <!-- end initialize page scripts -->
    @*@RenderSection("scripts", required: true)*@
    <!-- endbuild -->
    

</body>

</html>