@using ho.Security
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work1</title>
</head>
<body>
    <div> 
        <h1>Work 1</h1>

        Welcome @SessionPersister.Username

        <br />
        <br />

        <a href="@Url.Action("Logout", "Account")">Logout</a>
    </div>
</body>
</html>
