@using ho.Security
@{
    Layout = null;
}


        <h1>Work 2</h1>
        
        Welcome @SessionPersister.Username

        <br />
        <br />

        <a href="@Url.Action("Logout", "Account")">Logout</a>

